@model IEnumerable<PizzaClassLibrary.Entities.Pizza>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    <td>
        @if (item.Pate != null)
        {
            @Html.DisplayFor(modelItem => item.Pate.Nom)
        }
        else
        {
            @Html.Raw("Aucune pate")
        }
    </td>
    <td>
        @if (item.Ingredients != null)
        {
            foreach (var ingredient in item.Ingredients)
            {
                @Html.DisplayFor(modelItem => ingredient.Nom)
                <br/>
            }
        }
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
        }
    }


</table>
